annotated-types==0.7.0
ast_serialize==0.5.0
librt==0.11.0
mypy==2.1.0
mypy_extensions==1.1.0
pathspec==1.1.1
pydantic==2.13.4
pydantic_core==2.46.4
serialx==1.8.0
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==16.0
